@import url(https://fonts.cdnfonts.com/css/jupiteroid);
@import url(https://fonts.cdnfonts.com/css/mars-2);

.newTodoContainer {
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    margin-top: 80px;
    padding: 20px;
    padding-top:26px;
    width: auto;
    background-color: #C7D6D5;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Jupiteroid', sans-serif;
}

.newTodoContainer h2 {
    color: #0C0F12;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Jupiteroid', sans-serif;
    letter-spacing: 0.1px;
}

.newTodoContainer input {
    width: 50%;
    padding: 25px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    font-family: 'Jupiteroid', sans-serif;
    font-size: 25px;
    color: #0C0F12;
    box-shadow: 5px 5px #0C0F1250;
    transition: box-shadow 0.3s ease;
    transition: transform 0.3s ease;
}

.newTodoContainer input:focus {
    outline: none;
    box-shadow: 10px 10px #0C0F1250;
}

.newTodoContainer input::placeholder {
    font-family: 'Jupiteroid', sans-serif;
    color: #0C0F1280;
}

.newTodoContainer input:hover {
    box-shadow: 10px 10px #0C0F1250;
    transform: translateX(-2px) translateY(-2px);
}

.newTodoContainer button {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: #ECEBF3;
    font-family: 'Jupiteroid', sans-serif;
    font-size:25px;
    color: #0C0F12;
    box-shadow: 5px 5px #0C0F1250;
    transition: transform 0.6s ease;
}

.newTodoContainer button:hover {
    background-color: #0C0F1280;
    color:#ECEBF3;
    transform: scale(1.03);
    box-shadow: 10px 10px #0C0F1250;
}

.newTodoContainer button:active {
    background-color: #0C0F12;
    color: #C7D6D5;
}