@import url(https://fonts.cdnfonts.com/css/jupiteroid);
@import url(https://fonts.cdnfonts.com/css/mars-2);
@import url(https://db.onlinewebfonts.com/c/17e068270b70e7f69ae239a5e22f1715?family=Lazenby+Computer+Smooth);


h2 {
    font-family: 'Jupiteroid', sans-serif;
    color: #C7D6D5;
    padding:25px;
    margin:10px
}


.container {
    display: inline;
    align-items: start;
}
.todoElement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 25px;
    margin:25px 75px;
    background-color: #C7D6D5;
    color: #0C0F12;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .todo-text {
    font-size: 26px;
    font-weight: 500;
    font-family: 'Jupiteroid', sans-serif;
  }
  
  .todo-icons {
    display: flex;
    align-items: center;
  }
  
  .todo-button {
    display: flex;
    align-items: center;
    background-color: #ECEBF3;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: auto;
    width:100px;
    cursor: pointer;
    font-family: 'Lazenby Computer Smooth', sans-serif;
    font-size: 17px;
    letter-spacing: 0.18em;
  }
  
  .todo-button img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
  
  .icon {
    width: 28px;
    height: 28px;
    margin-left: 25px;
    cursor: pointer;
  }
  