@import url(https://db.onlinewebfonts.com/c/17e068270b70e7f69ae239a5e22f1715?family=Lazenby+Computer+Smooth);
@import url(https://fonts.cdnfonts.com/css/mars-2);

a {
    text-decoration: none;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #C7D6D5;
    padding: 15px 7%;
    height: 10vh;
}

.navbar div {
    display: flex;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
}

.searchBar input {
    background: transparent;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #0c0f12;
    outline: 0;
    max-width: 200px;
    color: #0c0f12;
    font-family: "Jupiteroid", sans-serif;
}

.searchBar input::placeholder {
    color: #0c0f12;
}

.searchBar img {
    cursor: pointer;
}

ul {
    display: flex;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    background-color: #0c0f12;
    border-radius: 5px;
    padding: 8px 20px;
    width: auto;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px 1px gray;
}

.navButton {
    font-size: 12px;
    font-family: "MARS", sans-serif;
    color: #C7D6D5;
    text-decoration: none;

}

.logo {
    font-family: "Lazenby Computer Smooth", sans-serif;
    font-size: 2.5vw;
    position: absolute;
    left: 46vw;
    top:2.3vh;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    color: #0c0f12;
}