@import url(https://fonts.cdnfonts.com/css/jupiteroid);
@import url(https://fonts.cdnfonts.com/css/mars-2);

.signup-form {
    background-color: #dcdcdc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 35vw;
    height: 60vh;
    padding:25px;
    border: 0;
}

.signup-form h2 {
    font-family: 'Jupiteroid','Courier New', Courier, monospace;
    color: #C20114;
    margin-bottom: 20px;
    font-size: 30px;
}

.input-group-signup {
    margin-bottom: 15px;
    border: none;
    outline: none;
}

.input-group-signup input {
    width: calc(100% - 20px);
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #EDDDD4;
    font-family: 'Jupiteroid', sans-serif;
    font-size: 20px;
    box-shadow: 2px 2px 10px 1px gray;
}

.member-link {
    margin-top: 25px;
    font-family: 'Jupiteroid', sans-serif;
    font-size: 20px;
}

.member-link button {
    outline: none;
    border: none;
    background-color: transparent;
    margin: 10px;
    border-radius: 5px;
}

.login-btn,
.submit-btn {
    border-radius: 5px;
    color: #C20114;
    background-color: #EDDDD4;
    border:none;
    outline: none;
    padding: 5px 15px;
    margin: 10px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Jupiteroid', sans-serif;
    box-shadow: 2px 2px 10px 1px gray;
}

.login-btn:hover {
    background-color: #C20114;
    color: #EDDDD4;
}

.submit-btn {
    margin: 35px;
    padding: 8px 15px;
    font-size: 18px;
}

/* box-shadow: h-offset v-offset blur spread color; */