.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;

}

.subCont2 {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding:70px;
}

.subCont2 img {
    width: 200px;
    position: absolute;
}

.subCont1 img {
    width: 350px;
}

.subCont3 img {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}