.loginContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;

}

.lsubCont2 {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding:70px;
}

.lsubCont2 img {
    width: 200px;
    position: absolute;
}

.lsubCont1 img {
    width: 350px;
}

.lsubCont3 img {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}