.signupContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 5vh;
}

.signSubCont2 {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding:70px;
}

.signSubCont2 img {
    width: 200px;
    position: absolute;
}

.signSubCont1 img {
    width: 350px;
}

.signSubCont3 img {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}